.container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./lab.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.card {
    background-color: #e5f5ff;
    border: 1px solid #3f51b5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #3f51b5;
    box-sizing: border-box;
  }

.card h3 {
    margin-top: 0;
}
  