@tailwind base;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.frame {
  @apply py-10 md:py-16 px-5 md:px-48;
}

.title {
  @apply font-bold text-slate-700;
}

.btn {
  @apply text-white bg-theme-dark duration-500 font-bold rounded-md shadow-md hover:bg-blue-700;
}

@tailwind utilities;
